aniso8601==7.0.0
asgiref==3.2.3
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
cloudinary==1.20.0
coverage==5.0.3
coveralls==1.11.1
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.7
django-heroku==0.3.1
djangorestframework==3.11.0
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
gunicorn==20.0.4
idna==2.8
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.0
mccabe==0.6.1
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
promise==2.3
prompt-toolkit==3.0.5
psycopg2==2.8.4
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.6.1
python-dotenv==0.11.0
pytz==2019.3
requests==2.22.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
whitenoise==5.0.1
