asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
coverage==5.0.3
coveralls==1.11.1
dj-database-url==0.5.0
Django==3.0.3
django-heroku==0.3.1
docopt==0.6.2
entrypoints==0.3
flake8==3.7.9
gunicorn==20.0.4
idna==2.8
mccabe==0.6.1
Pillow==7.0.0
psycopg2==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
python-dotenv==0.11.0
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==5.0.1
